{% extends 'website/base_templates/base.html' %}
<!-- Start your project here-->

{% block body %}
<div class="menu-wrap"></div>
	<div class="clearfix"></div>
	<div class="bnr_top_110px">
		<div class="inner_banner">
			<img src="{{static('images/contactus_banner.jpg')}}" alt="aboutus banner" class="ban_desk_ban"><img src="{{static('images/contactus_banner-mob.jpg')}}" alt="" class="ban_mob_ban">

		</div>

		<div class="mobile_msg">
		<ul>
			<li><a href="tel:+91 9540665522 "><img src="{{static('images/icon/Call-Btn.png')}}" alt="call now"></a></li>
			<li><a href="sms:+91 9540665522"><img src="{{static('images/icon/Msgl-Btn.png')}}" alt="call now"></a></li>
			</ul>
		</div>
    </di    v>
<div class="clearfix"></div>
<section class="mid_page">
    <div class="contact_us_p">

        <div class="contact_us_left">
            <div class="contactus_text">
                <h1>REACH US</h1>
                <span></span>


                <ul>
                    <li>A-12, Plot-729, Aman Plaza, Shakti Khand-4,
                        Indirapuram, Ghaziabad, Uttar Pradesh, 201014
                    </li>
                    <li>+91 9540665522</li>

                    <li>info@petukibiryani.com</li>

                </ul>
            </div>


        </div>


        <div class="contact_us_right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14005.254182707937!2d77.371606!3d28.650329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d4a2a985cd96eb9!2sPetu+Ki+Biryani!5e0!3m2!1sen!2sin!4v1526470590329"
                    width="100%" height="526" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!--<img src="images/contactus_map.jpg" alt="map">-->
            <div class="clear"></div>

        </div>


        <div class="clearfix"></div>

    </div>

</section>
{%  endblock %}