{% extends 'website/base_templates/base.html' %}
<!-- Start your project here-->

{% block body %}
<div class="menu-wrap"></div>
	<div class="clearfix"></div>

	<div class="bnr_top_110px">
		<div class="inner_banner">
			<img src="images/policy_banner.jpg" alt="aboutus banner" class="ban_desk_ban"><img src="{{script('images/policy_banner_mob.jpg')}}" alt="" class="ban_mob_ban">

		</div>

		<div class="mobile_msg">
		<ul>
			<li><a href="tel:+91 9540665522 "><img src="{{script('images/icon/Call-Btn.png')}}" alt="call now"></a></li>
			<li><a href="sms:+91 9540665522"><img src="{{script('images/icon/Msgl-Btn.png')}}" alt="call now"></a></li>
			</ul>
		</div>

		<!--<div class="cal_order_wrap">
			<div class="cal_order_now">

		<img src="images/icon/Floating-Btn.png" alt="call order now">

		</div>
			<div class="side_btn">
			<span>+91 9540665522</span>
			<img src="images/pkb_side_offer.gif" alt="image missing">
			</div>

		</div>-->

			<div class="cal_order_wrap play_store">
			<div class="cal_order_now">


		<a href="https://play.google.com/store/apps/details?id=com.rest.petukibiryani.user&hl=en" onclick="trackOutboundLink('https://play.google.com/store/apps/details?id=com.rest.petukibiryani.user&hl=en'); return false;" target="_blank"><img src="{{script('images/pkb_andriod.png')}}" alt="Download PKB app"></a>

		</div>

		</div>

	</div>
	<div class="clearfix"></div>
	<section class="mid_page">
	 <div class="menu_screen">

		 <div class="container">
				<div class="abt_lft_txt pkb_policy">
	<h1>PRIVACY POLICY</h1>
	<span></span>
<ul>
	<li>To avoid the scenario of frauds, every app has a particular IP which is used for logging in while placing your order.</li>

					<li>Petu Ki Biryani collects the personal information provided by you voluntarily while filling online forms. For instance, user registration, guest comments, contact requests, online surveys, and any other online activities, in which you may have taken part in the past. The personal information collected on this site or via our mobile application may include some or complete information in this order your name, address, telephone number or mobile number, email address, demographic information or any other information provided by you voluntarily. </li>

					<li>Despite the fact you have given your personal information, our web servers identify the computer by their IP addresses automatically. And the IP addresses may be used by Petu Ki Biryani for the analysis of trends, administer the site track user’s frequent movement and then gather the broad demographic information for combined use. IP addresses are not linked with the personal information for emphasis.</li>

					<li>The information provided by you such as name, email, the mobile phone number can be shared with the third-party services. The information collected by us about you, while you were accessing and using our services that include device information, location, and network carrier is shared with third-party service providers, for the personalization of app for you only by performing behavioural analytics.</li>
</ul>
	</div>
		 </div>

		</div>

	</section>

		<div class="clearfix"></div>
