{% extends '/layout.html' %}
{% block title %}
Add Item
{% endblock %}
{% block right_col %}
<style>
    .form-control, input {
    box-shadow: none;
    width: 60%;
    }

</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Item</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="demo-form2" method="post" data-parsley-validate=""
                              class="form-horizontal form-label-left" enctype="multipart/form-data">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Store <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    {{ form.store }}

                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Kitchen <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12 kitchen_list">

                                    {{ form.kitchen }}

                                </div>


                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5">Category Name<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12 categories_list">
                                    {{ form.category_name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name
                                    <span
                                            class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.name }}
                                    {% if form_errors['name'] %}
                                    <div class="alert alert-danger">{{ form.errors.name }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Short Description

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.short_description }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Description
                                     <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.description }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Image
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.image }}
                                    {% if img_path %}
                                    <a href="{{img_path}}">{{img_path}}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Food Type
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.food_type }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Is Offer Active
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.is_offer_active }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Is Out of Stock
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.is_outof_stock}}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5 base_price"> Base Price<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form.base_price}}
                                    {% if form_errors['base_price'] %}
                                    <div class="alert alert-danger">{{ form.errors.base_price }}</div>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-5 is_variant"> Is Variant
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <input type="checkbox" class="isVariant" name="is_variant" value="True"/>


                                </div>
                            </div>


                            <div class="price-variations" style="display:none">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-5"> Full
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="quantity_type" value="full" hidden="true">
                                            <input type="text"
                                                   name="price"
                                                   class="form-control"
                                                   data-validation="float"
                                                   data-validation-length="max10"
                                                   data-validation-error-msg="You did not enter the price."
                                                   placeholder="Price"
                                                   maxlength="100"
                                                   id="id_price1">
                                            <input type="text" name="item_price_description" class="form-control"
                                                   placeholder="Item Price Description" maxlength="100"
                                                   id="id_item_price_description1">
                                        </p>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-5"> Half
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="quantity_type" value="half" hidden="true">
                                            <input type="text"
                                                   name="price"
                                                   class="form-control"
                                                   data-validation="float"
                                                   data-validation-length="max10"
                                                   data-validation-error-msg="You did not enter the price."
                                                   placeholder="Price"
                                                   maxlength="100"
                                                   id="id_price2">
                                            <input type="text" name="item_price_description" class="form-control"
                                                   placeholder="Item Price Description" maxlength="100"
                                                   id="id_item_price_description2">
                                        </p>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-5"> Quarter
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="quantity_type" value="quarter" hidden="true">
                                            <input type="text"
                                                   name="price"
                                                   class="form-control"
                                                   data-validation="float"
                                                   data-validation-length="max10"
                                                   data-validation-error-msg="You did not enter the price."
                                                   placeholder="Price"
                                                   maxlength="100"
                                                   id="id_price3">
                                            <input type="text" name="item_price_description" class="form-control"
                                                   placeholder="Item Price Description" maxlength="100"
                                                   id="id_item_price_description3">
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div>
                                <div class="control-label col-md-3 col-sm-3 col-xs-5"></div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input style="width:100px" type="submit" class="btn btn-success" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}
{% block extra_js %}
<script>
    $('.myCheck').click(function(){

    if($(this).is(':checked')){
        $(this).siblings('.quantity').show()
    }
    else{
    $(this).siblings('.quantity').hide();
    $(this).siblings('.quantity').find("input[type=text], textarea").val('');

    }
    })


    $('.isVariant').click(function(){
    if($(this).is(':checked')){
     $('.price-variations').show()
    }
    else{
    $('.price-variations').hide();
    }
    })


</script>
<script>

    $('.stores').change();
    $('.kitchen_list').on('change', '#id_kitchen', function(){

      var kitchen_id=$(this).val();
      var csrftoken = $("[name=csrfmiddlewaretoken]").val();

      $.ajax({
        url: "{{url('custom-admin:get_categories_by_kitchen')}}",
        type: 'POST',
        data:  {
          "csrfmiddlewaretoken" : csrftoken,
          "kitchen_id" : kitchen_id

        },
        success: function (data) {
           if(data.status){
                $('.categories_list').html('');
                categories_list=data.data;
                console.log(categories_list)
                if(categories_list.length>0){
                    var category_html=`<select name="category_name" type="radio"
                     class="btn btn-primary btn-md" data-parsley-multiple="gender" id="id_category_name">`
                    var options=''
                    $.each(categories_list, function (i, u) {
                    console.log(u)
                        options+=`<option value="`+u.id+`">`+u.name+`</option>`
                    });
                    options+'</select>';
                    $('.categories_list').append(category_html+options);
				}
				else{
				alert('this store has no category')
				}
           }
        }
      });

     $('.kitchen_list').change()


    })
</script>

{% endblock %}