{% extends '/layout.html' %}
{% block title %}
Order detail
{% endblock %}
{% block right_col %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3> Order No. - {{order.receipt_no}}</h3>
            </div>
            <!--<a href=javascript:void(0)" id="go_back" class="btn btn-primary pull-right">Go back</a>-->
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#anu">Order Log
            </button>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">


            <div id="anu" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content ">


                        <!-------Header------------>
                        <div class="modal-header ">
                            <h2 class="modal-tital"><b>Order Log Detail </b></h2>
                        </div>
                        <!-------Header-Close------------>


                        <!-------Modal-Body------------>
                        <div class="modal-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Change Status</th>
                                    <th>Change On</th>
                                    <th>Change By</th>
                                </tr>
                                {% if order_logs %}

                                {% for order_log in order_logs %}

                                <tr>
                                    <td>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ "Pending" if order_log.order_status == 0 else "Confirmed" if
                                            order_log.order_status == 1 else "Delivered" if order_log.order_status == 2
                                            else "Declined" if order_log.order_status==3 else "Dispatched" }}
                                        </div>
                                    </td>


                                    <td>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ order_log.created_on.strftime('%Y-%m-%d / %H:%M') }}
                                        </div>

                                    </td>
                                    <td>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ order_log.updated_by }}
                                        </div>

                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}

                                </thead>

                            </table>

                        </div>
                        <!-------Close-Modal-Body------------>

                        <!-------Modal-Footer------------>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-success">close
                            </button>
                        </div>

                        <!-------Close-Modal-Footer------------>


                    </div><!---Close modal content-->

                </div><!-----Close modal -dialog--->

            </div><!-----Close modal-fade---->


        </div>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>

        <!-- start 1st form -->
        <div class="x_panel">
            <div class="x_content">
                <input name="order_id" value="{{order.id}}" hidden="true">

                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label ">Delivery type</label></div>
                        <div class="txt_header">
                            {{order.delivery_type}}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label">Customer Mobile</label></div>
                        <div class="txt_header">{{user_mobile}}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label ">Name</label></div>
                        <div class="txt_header">
                            {% if user.first_name %}
                            {{user.first_name}}
                            {% endif %}
                            {% if not user.first_name %}
                            Not available
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label ">Kitchen</label></div>
                        <div class="txt_header">{{order.kitchen.name}}</div>
                        <input type="hidden" name="kitchen_address" value="{{ order.kitchen.address }}">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label ">Payment Mode</label></div>
                        <div class="txt_header">
                                {{ order.purchase_method }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label">Address</label></div>
                        <div class="txt_header" id="address">{{delivery_address}}</div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label">Special Notes</label></div>
                        <div class="txt_header">{{order.special_note if order.special_note else "N/A" }}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"></div>
                        <div class="txt_header"></div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label class="control-label">Delivery Boy</label></div>
                        {% if order.delivery_type == "DELIVERY" %}
                        <div class="txt_header">{{ deliver_boy_name }}</div>
                        {% endif %}
                    </div>

                </div>


                <!-- modal open here -->

                <div class="clearfix"></div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Subtotal</label></div>
                        <div class="txt_header">{{order.total_price}}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Delivery charge</label></div>
                        <div class="txt_header">{{ order.delivery_charge  }}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Discount</label></div>
                        <div class="txt_header">{{order.total_discount}}</div>
                    </div>


                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Tax</label></div>
                        <div class="txt_header">{{total_tax}}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Packaging Charges </label></div>
                        <div class="txt_header">{{0.00 if order.packaging_charges==None else order.packaging_charges }}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Redeem</label></div>

                        <div class="txt_header">{{order.points}}</div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Payable amount</label></div>
                        <div class="txt_header"> {{order.payable_price}}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label> Payment ID </label></div>
                        <div class="txt_header">{{order.order_payment_id if  order.order_payment_id  else "N/A"}}</div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="txt_bg_header"><label>Amount to pay </label></div>
                        <div class="txt_header">{{order.grand_total}}</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>


                <div class="form-group">

                    {% if order.delivery_type=="DELIVERY" %}
                    <button type="button" id="mapbtn" onclick="GetRoute()" class="btn_add_adress" style="margin:0">CHECK
                        DISTANCE AND TIME
                    </button>
                    {% endif %}
                    <button type="button" id="closebtn" style="display:none" class="btn_add_adress">CLOSE MAP</button>
                    <div class="clearfix"></div>
                    <div class="col-md-3 col-sm-3 col-xs-12">

                    </div>
                    <strong id="lblDistance"></strong>
                    <strong id="duration"></strong>
                </div>


                <form class="form-horizontal form-label-left input_mask" id="order_form">

                    <div class="quantity_info"></div>
                    <div class="ln_solid"></div>
                </form>


                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div id="dvMap" style="width:100%;"></div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div id="dvPanel" style="width:100%;"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="x_panel">
            <div class="x_content">
                <div class="row">

                    <div class="">
                        {% if order.delivery_type =='DELIVERY' %}
                        <div class="">
                        <button type="button" class="btn btn-primary pull-left update_order" data-status="1"
                        "{{ disabled if order.order_status==1 or order.order_status==2 or order.order_status == 3 or
                        order.order_status == 4 else '' }}" >Confirm </button>

                        <button type="button" class="btn btn-primary pull-left update_order" data-status="2"
                        "{{ disabled if order.order_status== 0 or order.order_status== 1 or order.order_status==2 or
                        order.order_status == 3 else '' }}">Delivered/Complete </button>
                        <button type="button" class="btn btn-primary pull-left update_order" data-status="3"
                        "{{ disabled if order.order_status==1 or order.order_status==2 or order.order_status == 3 or
                        order.order_status == 4 else ''}}">Decline </button>
                        <button type="button" class="btn btn-primary pull-left update_order" data-status="4"
                        "{{ disabled if order.order_status==0 or order.order_status==2 or order.order_status == 3 or
                        order.order_status == 4 else ''}}">Dispatched </button>
                        </div>
                        {% else %}
                        <div>
                            <button type="button" class="btn btn-primary pull-left update_order" data-status="1"
                        "{{ disabled if order.order_status==1 or order.order_status==2 or order.order_status == 3 or
                        order.order_status == 4 else '' }}" >Confirm </button>

                        <button type="button" class="btn btn-primary pull-left update_order" data-status="2"
                        "{{ disabled if order.order_status== 0 or order.order_status== 1 or order.order_status==2 or
                        order.order_status == 3 else '' }}">Delivered/Complete </button>
                        <button type="button" class="btn btn-primary pull-left update_order" data-status="3"
                        "{{ disabled if order.order_status==1 or order.order_status==2 or order.order_status == 3 or
                        order.order_status == 4 else ''}}">Decline </button>
                        <button type="button" class="btn btn-primary pull-left update_order" data-status="4"
                        "{{ disabled if order.order_status==0 or order.order_status==2 or order.order_status == 3 or
                        order.order_status == 4 else ''}}">Packed</button>
                        </div>
                        {% endif %}
                        </div>

                        <a href="{{url('custom-admin:order_bill', args=[order.id])}}" class="btn btn-primary pull-right"
                           target="_blank">Print Bill</a>
                        <a href="{{url('custom-admin:order_kot', args=[order.id])}}" class="btn btn-primary pull-right"
                           target="_blank">Print KOT</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- second start -->
        <div class="x_panel" style="padding:0">
            <div class="x_content">
                <!-- /.row -->
                <div class="row">
                    <div class="col-xs-12 ">
                        <table class="table table-striped" style="margin-bottom:0px;">
                            <thead class="table_head">
                            <tr>
                                <th width="10"></th>
                                <th>Sr. No.</th>
                                <th class="item"> Item</th>
                                <th>Quantity Type</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total</th>

                            </tr>
                            </thead>
                            <tbody>

                            </tbody>

                            <tbody class="take_ordr_tble">

                            {% for i in order_item %}


                            <tr>
                                <!--                                            <td class="counter"></td>-->
                                <td colspan="1"></td>
                                <td>{{ loop.index }}</td>
                                <td>{{i.item.name}}</td>
                                <td>{{i.quantity_type}}</td>
                                <td>{{i.quantity}}</td>
                                <td>{{i.unit_price}}</td>
                                <td>{{i.total_price}}</td>


                            </tr>

                            {% endfor %}
                            </tbody>

                        </table>

                        <!-- /.row -->

                        <!-- /.row -->
                        <!-- this row will not appear when printing -->

                    </div>
                </div>
            </div>
        </div>
        <!-- end -->


        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div id="myModal" class="modal fade" role="dialog">

            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">


                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enter Estimated Delivery Time</h4>
                    </div>
                    <div class="modal-body">
                        <label class="control-label "> Delivery boy <span class="required">*</span> </label>

                        <div class="clearfix"></div>
                        <select type="radio" class=" delivery form-control" data-parsley-multiple="gender"
                                id="delivery_id">txt_bg_header
                            {% for i in delivery_boy %}

                            <option value="{{i.id}}">{{i.name}}</option>

                            {% endfor%}
                        </select>
                        <!--                <select name="order_status" class="form-control store_list" required="required">-->
                        <!--                    <option value="">Store</option>-->
                        <!--                    {% for store in store %}-->
                        <!--                    <option value="{{store.id}}">{{store.name}}</option>-->
                        <!--                    {% endfor %}-->

                        <!--                </select>-->

                        <div class="clearfix"></div>
                        <br>

                        <form id="estimated_time_form">
                            <div>
                                <label>Enter Time in Mintues</label>
                                <input type="text" class="form-control " id="estimated_time"
                                       name="estimated_delivery_time"
                                       data-validation="required number"
                                       placeholder="Enter value in Mintues (only Number)">
                            </div>
                            <div><br>
                                <button type="button" class="btn btn-primary pull-right" id="update_estimate_time">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        {% endblock %}
        {% block extra_js %}
        <script>
        function get_address(){
          destination= $('#address').text();
          return destination;
        }
        console.log(get_address())

        </script>
        <script src="{{ static('js/order.js') }}"></script>
        <script src="{{ static('js/trace-location.js') }}"></script>


        <script>

$('.update_order').click(function(){
var csrftoken = $("[name=csrfmiddlewaretoken]").val();
var data ={
            order_id:$('[name=order_id]').val(),
            order_status:$(this).data('status'),
            csrfmiddlewaretoken: csrftoken
        }

        console.log(data)
        if(data.order_status==1){

           $('#myModal').modal('show');
        }
        else{
        bootbox.confirm({
            title: "Update Status?",
            message: "Do you want to update status of this order?",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
                },
            callback: function (result) {
                if(result){
                    $.post("/admin/allorder/update-order/", data , function (res) {
                        if (res.status) {
                            new PNotify({
                                    title: 'Success!',
                                    text: res.message,
                                    type: 'success',
                                    styling: 'bootstrap3',
                                    nonblock: {
                                            nonblock: true
                                    }

                            });
                            window.location.reload();
                        }   else {
                                new PNotify({
                                        title: 'Error!',
                                        text: 'Something went worng',
                                        type: 'error',
                                        styling: 'bootstrap3',
                                        nonblock: {
                                            nonblock: true
                                        }
                                });
                            }
			});
                    }
                }
            });
            }
        });

 $("#update_estimate_time").click(function(){
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
       var data ={
            order_id:$('[name=order_id]').val(),
            order_status:1,
            user_id:$('#delivery_id').val(),
            estimated_delivery_time:$('#estimated_time').val(),
            csrfmiddlewaretoken: csrftoken
        }
        console.log(data);
        if($('#estimated_time_form').isValid()){
        $.post("/admin/allorder/update-order/", data , function (res) {

            if (res.status) {
                new PNotify({
                        title: 'Success!',
                        text: res.message,
                        type: 'success',
                        styling: 'bootstrap3',
                        nonblock: {
                                nonblock: true
                        }

                });
                window.location.reload();delivery
            }   else {
                    new PNotify({
                            title: 'Error!',
                            text: 'Something went worng',
                            type: 'error',
                            styling: 'bootstrap3',
                            nonblock: {
                                nonblock: true
                            }
                    });
                }
            });
        }
        else {
            $('#myModal').modal('show');
        }
   })




        </script>


        {% endblock %}