{% extends '/layout.html' %}

{% block title %}
Detail Store
{% endblock %}

{% block right_col %}

<style>
.form-control, input {
    box-shadow: none;
    width: 60%;
}

</style>



<div class="right_col" role="main">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Details of Store</h3>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">


                    <div class="x_content">

                        <form id="demo-form2"  data-parsley-validate=""
                              class="form-horizontal form-label-left"  enctype="multipart/form-data">

                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name
                                    <span
                                            class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                   {{ form.name }}

                                </div>

                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Tag Line<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    {{ form.tag_line }}

                                </div>

                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Logo<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                     {% if logo_path %}
                                    <img src="{{logo_path}}" width=100px >
                                    {% else %}
                                    <p> There is no logo for this store.</p>
                                    {% endif %}

                                </div>

                            </div>


                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Image<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    {% if image_path %}
                                    <img src="{{image_path}}" width=100px >
                                    {% else %}
                                    <p> There is no image for this store.</p>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5">Description<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    {{ form.description }}

                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Location<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    {{ form.location }}

                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Address Line 1<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    {{ form.address_line1}}


                                </div>

                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Address Line 2<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    {{ form.address_line2 }}

                                </div>

                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-5"> Tin No<span
                                        class="required">*</span>

                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">


                                    {{ form.tin_no }}

                                </div>

                            </div>

                            <div class="ln_solid"></div>


                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% endblock %}
{% block extra_js %}
{% endblock %}
